= render partial: 'layouts/header'
.top
  .top_box
    .top_box_1
      .top_box_1_image
      = link_to "筋トレをする",class:"btn1"
    .top_box_2
      .top_box_2_image
      = link_to "筋トレ日記投稿",class:"btn1"
    .top_box_3
      .top_box_3_image
      = link_to "筋トレ日記一覧",class:"btn1"
    .top_box_4
      .top_box_4_image
      = link_to "プロテイン比較表",class:"btn1"
.footer
  ©2020 Muscle training at home

