= render partial: 'layouts/header'
.contents
  .contents_new
    = form_with(model: @post, local: true) do |form|
      = form.text_field :title, placeholder: "ここにタイトルを入力", class:"title"
      = form.text_area :text, placeholder: "ここに本文を入力", class:"text"
      = form.submit "編集を完了する",class:"btn"
= render partial: 'layouts/footer'