= render partial: 'layouts/header'
.i-contents
  .i-contents_new
    .i-contents_new_posts
      - @posts.each do |post|
        .new-post
          .new-post_title.posts
            = post.title
          .new-post_text.posts
            = post.text
          .new-post_created-at.posts
            = post.created_at
= render partial: 'layouts/footer'