.header
  %h1
    = link_to "Study support app",root_path, class: "top-link"
  %ul.header_list
    - if user_signed_in?
      %li 
        = link_to "ログアウト", destroy_user_session_path, class: "btn1", method: :delete
      %li
        = link_to "学習タイマー",timers_path ,class:"btn1"
      %li
        = link_to "アウトプット", new_post_path, class:"btn1"
      %li
        = link_to "アウトプット一覧",posts_path, class:"btn1"
    - else
      %li 
        = link_to "ログイン", new_user_session_path, class: "btn1"
      %li 
        = link_to "新規登録", new_user_registration_path, class: "btn1"